html{
  height:100%;
}
h1{
  display: block;
  font-size: 30px;
  text-align: center;
  height: 10%;
  padding-top: 5%;
  color: white;
  background-color: rgb( 16, 41, 99);
}
body{
  display: block;
  height: 70%;
  font-size: 18px;
  background-color: RGB(129, 150, 199);
}
body p{
  text-align: center;
  padding: 50px 25% 40px 25%;
}
form label{
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 5px;
  gap: 5px;
}
form input{
  font-size: 16px;
}
input[type=submit]{
  display: block;
  margin: 30px auto;
}
@media screen and (max-width: 480px){
	form {
		margin: 0 auto;
		width: 210px;
	}
	form label{
		display: inline-block;
		text-align: left;
		float: left;
	}
	form input{
		display: inline-block;
		text-align: left;
		float: right;
	}
}
@media screen and (min-width: 768px){
	h1{
		font-size: 45px;
	}
	body p{
	  text-align: center;
	  padding: 50px 35% 40px 35%;
		font-size: 20px;
	}
	form label{
		font-size:30px;
	}
}
